
table {
    border-collapse: collapse;
    border-style: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

table td {
    font-size: 30px;
    border: 1px solid black;
	padding: 30px;
}